<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER).pairing</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>km</string>
	<key>CFBundleDisplayName</key>
	<string>SideInstaller KH</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBonjourServices</key>
	<array>
		<string>_remotepairing-pairable-host._tcp</string>
		<string>_sideinstallerprobe._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>SideInstaller ផ្សព្វផ្សាយសេវាភ្ជាប់នៅលើឧបករណ៍ ដើម្បីឲ្យ iPhone នេះអាចភ្ជាប់ជាមួយវាបាន ហើយភ្ជាប់ទៅ lockdown daemon មូលដ្ឋានដើម្បីដំឡើងកម្មវិធី។</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>SideInstaller អាចប្រើទីតាំង ដើម្បីបន្តដំណើរការនៅពេលអ្នកអនុម័តការភ្ជាប់នៅក្នុង Settings។</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>SideInstaller អាចប្រើទីតាំង ដើម្បីបន្តដំណើរការនៅពេលអ្នកអនុម័តការភ្ជាប់នៅក្នុង Settings។</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>location</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
